#user {
    padding-top: 10px;
}

.row .field {
    display: inline-block;
    width: 80%;
}

.row .field.field-checkbox {
    padding: 10px 0;
    text-align: right;
}

.row .field input[type="text"] {
    width: 100%;
    height: 32px;
    padding: 10px;
    border: 1px solid #ccc;
}