.searchForm {
    padding-top: 10px;
}

.search {
    float: left;
    width: 310px;
    height: 32px;
}

.users {
    width: 100%;
}

.users tr {
    background-color: #e9e9e9;
}

.users tr:nth-child(even) {
    background-color: #fff;
}

th, td {
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    overflow: hidden;
    word-break: normal;
}

.users th {
    font-weight: normal;
    color: #fff;
    background-color: #43a047;
}

.users td {
    color: #333;
}

.users td a {
    color: #0088cc;
    text-decoration: none;
}

.pages {
    float: left;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-color: #43a047;
    text-align: center;
    font-size: 18px;
}

li a {
    display: block;
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: #fff;
}

.currentPage {
    background-color: #ff7e00;
    color: #fff;
}

span {
    position: relative;
    top: 7px;
}

span.nav-arrow {
    top: 4px;
}